<footer id="contact">
  <!-- contact info -->

  <section class="contactInfo">
    <div class="container">
      <div class="col-md-4 col-sm-12 col-xs-12 col-lg-4">
        <div class="contactHolder">
          <i class="fa fa-map-signs fa-2x contactSprite" aria-hidden="true"></i>
          <div>
            <h2>ADDRESS</h2>
            <p>28, Park Ville, Chordiya City Near kamla Nehru Nagar, Ajmer Road Jaipur ( raj )<br>INDIA 302012</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12 col-lg-4">
        <div class="contactHolder">
          <i class="fa fa-envelope-o fa-fw fa-2x contactSprite" aria-hidden="true"></i>
          <div>
            <h2>EMAIL</h2>
            <p>contact@designernaruka.com</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12 col-lg-4">
        <div class="contactHolder">
          <i class="fa fa-phone fa-2x contactSprite" aria-hidden="true"></i>
          <div>
            <h2>CALL ME</h2>
            <p>+91- 8769659799</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- contact info end -->

  <!-- get dn updates -->

  <section class="contactUpdates">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-md-offset-4">
            <div class="headingSecondary">
              <div class="headingHolder">
                <h2>GET <i class="textLighter">DN</i> UPDATES</h2>
                <span>Kinldy provide your e-mail id for get in touch always</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-md-offset-3">
            <div>
              <form action="#">
                <div class="input-group col-lg-12 col-md-12  col-sm-12  col-xs-12">
                  <input class="btn btn-lg inputText col-lg-8 col-md-8 col-sm-7 col-xs-7" name="email" id="email" type="email" placeholder="Your Email" required>
                  <button class="btn btn-info btn-lg btnSubmit col-lg-4 col-md-4 col-sm-5 col-xs-5" type="submit">SUBSCRIBE NOW</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- get dn updates end -->

  <!-- socially connected icons -->

  <section class="socialConnect">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2">
          <div class="headingSecondary col-md-offset-2">
            <div class="headingHolder">
              <h2>LET'S CONNECT <i class="textLighter">SOCIALLY</i></h2>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 spaceBnano spaceTnano">
            <div class="row">
              <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 iconHolder">
                <a href="https://dribbble.com/designernaruka" target="_blank" title="See me on Drible"><i class="fa fa-dribbble fa-2x"></i></a>
              </div>
              <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 iconHolder">
                <a href="https://github.com/designernaruka" target="_blank" title="Checkout My Repo on GitHub"><i class="fa fa-github fa-2x"></i></a>
              </div>
              <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 iconHolder">
                <a href="https://github.com/designernaruka" target="_blank" title="Follow me on Linked in"><i class="fa fa-linkedin fa-2x"></i></a>
              </div>
              <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 iconHolder">
                <a href="https://github.com/designernaruka" target="_blank" title="Like on Facebook"><i class="fa fa-facebook fa-2x"></i></a>
              </div>
              <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 iconHolder">
                <a href="https://github.com/designernaruka" target="_blank" title="Follow on Twitter"><i class="fa fa-twitter fa-2x"></i></a>
              </div>
              <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 iconHolder last-child">
                <a href="https://github.com/designernaruka" target="_blank" title="Follow on Instagram"><i class="fa fa-instagram fa-2x"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- socially connected icons end -->

  <!-- footer navigation -->

  <section class="footerNavigation">
    <div class="container">
     <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 col-xs-12">
      All rights reserved. <span class="secondaryColor">&copy;</span> 2016
     </div>
     <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 textright">
      <div class=" " role="navigation">
        <div class="pull-right">
          <div class="navbar-header page-scroll">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav navbar-nav navbar-right">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                  <%= link_to(' ', '#page-top', class: 'page-scroll', title: 'RETURN TO TOP') %>
                </li>
                <li class="first-child">
                  <%= link_to('Hello', '#hello', class: 'page-scroll', title: 'Hello') %>
                </li>
                <li>
                  <%= link_to('INTRO', '#intro', class: 'page-scroll', title: 'INTRO') %>
                </li>
                <li>
                  <%= link_to('ABOUT', '#about', class: 'page-scroll', title: 'ABOUT') %>
                </li>
                <li>
                  <%= link_to('SKILLS', '#skills', class: 'page-scroll', title: 'SKILLS') %>
                </li>
                <li>
                  <%= link_to('WORK', '#work', class: 'page-scroll', title: 'WORK') %>
                </li>
                <li>
                  <%= link_to('LAB', '#contact', class: 'page-scroll', title: 'LAB') %>
                </li>
              </ul>
            </div>
          <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
      </div>
     </div>
    </div>
  </section>

  <!-- footer navigation end -->

  <!-- footer logo -->
  <section class="footerLogo">
    <div class="container">
      <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 aligncenter">
        <div class="col-md-offset-5 col-md-2">
          <%#= link_to(image_tag('brand-logo-footer.svg',class: "img-responsive aligncenter"),root_path, title: "Designer Naruka", class:'img-responsive aligncenter') %>
        </div>
      </div>
    </div>
  </section>
  <!-- footer logo -->
</footer>

<div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <div class="overlay-content">
    <div class="contactmapForum">
      <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6 alignright">
        <div class="col-md-offset-1 col-md-8">
          <form role="form" id="contact-form" class="contact-form">
            <div class="headingSecondary">
              <div class="headingHolder">
                <h2>GET IN TOUCH</h2>
                <span>Contact for Project or Download CV</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <input type="text" class="form-control input-lg" name="Name" autocomplete="off" id="Name" placeholder="Name">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <input type="email" class="form-control input-lg" name="email" autocomplete="off" id="email" placeholder="E-mail">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <textarea class="form-control textarea input-lg" rows="4" name="Message" id="Message" placeholder="Message"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button type="submit" class="btn main-btn btn-lg hidden-sm hidden-xs">Send message</button>
                <button type="submit" class="btn main-btn btn-lg btn-block hidden-lg hidden-md">Leave A Message</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6 alignleft">
        <iframe width="100%" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps?f=q&source=s_q&hl=en&geocode=&q=15+Springfield+Way,+Hythe,+CT21+5SH&aq=t&sll=52.8382,-2.327815&sspn=8.047465,13.666992&ie=UTF8&hq=&hnear=15+Springfield+Way,+Hythe+CT21+5SH,+United+Kingdom&t=m&z=14&ll=51.077429,1.121722&output=embed"></iframe>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<span onclick="openNav()" class="contactForum"><i class="fa fa-envelope-o fa-fw fa-2x contactSprite" aria-hidden="true"></i></span>
