<footer>
  <!-- contact info -->

  <section class="contactInfo">
    <div class="container">
      <div class="col-md-4 col-sm-12 col-lg-4">
        this is first block
      </div>
      <div class="col-md-4 col-sm-12 col-lg-4">
        this is second block
      </div>
      <div class="col-md-4 col-sm-12 col-lg-4">
        this is third block
      </div>
    </div>
  </section>

  <!-- contact info end -->

  <!-- contact map and forum -->

  <section class="contactmapForum">
    <div class="col-md-6 col-sm-12 col-lg-6 alignright">
      <div class="col-md-offset-2 col-md-8">
        <form>
          <div class="headingSecondary">
              <h3>
                GET IN TOUCH
                <span>Contact for Project or Download CV</span>
              </h3>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 col-lg-6 alignleft">
      <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps?f=q&source=s_q&hl=en&geocode=&q=15+Springfield+Way,+Hythe,+CT21+5SH&aq=t&sll=52.8382,-2.327815&sspn=8.047465,13.666992&ie=UTF8&hq=&hnear=15+Springfield+Way,+Hythe+CT21+5SH,+United+Kingdom&t=m&z=14&ll=51.077429,1.121722&output=embed"></iframe>
    </div>
    <div class="clearfix"> </div>
  </section>

  <!-- contact map and forum end -->

  <!-- get dn updates -->

  <section class="contactUpdates">
    <div class="container">
      get updates section started from here
    </div>
  </section>

  <!-- get dn updates end -->

  <!-- footer navigation -->

  <section class="footerNavigation">
    <div class="container">
     <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
      All rights reserved. <span class="secondaryColor">&copy;</span> 2016
     </div>
     <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 textright">
      <%= link_to "HELLO INTRO", "#", class: " " %>
      <%= link_to "INTRO", "#", class: " " %>
      <%= link_to "SKILLS", "#", class: " " %>
      <%= link_to "WORK", "#", class: " " %>
      <%= link_to "LAB", "#", class: " " %>
      <%= link_to "ABOUT", "#", class: " " %>
      <%= link_to "CONTACT", "#", class: " " %>
     </div>
    </div>
  </section>

  <!-- footer navigation end -->

  <!-- footer logo -->
  <section class="footerLogo">
    <div class="container">
      <div class="col-md-12 col-sm-12 col-lg-12 aligncenter">
        <div class="col-md-offset-5 col-md-2">
          <%#= link_to(image_tag('brand-logo-footer.svg',class: "img-responsive aligncenter"),root_path, title: "Designer Naruka", class:'img-responsive aligncenter') %>
        </div>
      </div>
    </div>
  </section>
  <!-- footer logo -->
</footer>